.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
    margin-top: 150px;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    margin-left: 180px;
}
.navbar-nav{
    margin-left: 600px;
}
.nav-link{
    margin:15px
}
.shoe{
    margin-top:100px;
    margin-bottom:50px;
}
.backpack{
    margin-top:100px;
    margin-bottom:50px;
}
.categories img{
    width: 100px;
}
.categories1{
    background-color: orange;
    padding: 10px 30px;
    border-radius: 10px;
}
.categories2{
    background-color: orchid;
    padding: 10px 30px;
    border-radius: 10px;
}
.categories3{
    background-color: blue;
    padding: 10px 30px;
    border-radius: 10px;
}
.panda-card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgrey;
}
#subscribe h6{
    color: gray;
}
.icon{
    font-size:50px;
    color: #FF136F;
    text-decoration: none;
  }